---
version: '3.9'

services:
  # only for dev
  postgres:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=db
    volumes:
      - db-data:/var/lib/postgresql/data/

  nginx:
    image: nginx:latest
    container_name: nginx-reverse-proxy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - dex-api
      # - lending-api

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

  dex-indexer:
    build: dex
    environment:
      - DATABASE_URL=postgres://admin:admin@postgres:5432/db
      - RPC_URL=ws://3.111.45.9:8546
    command: yarn run indexer

  dex-api:
    build: dex
    environment:
      - DATABASE_URL=postgres://admin:admin@postgres:5432/db
      - RPC_URL=ws://3.111.45.9:8546
    command: yarn run api
    ports:
      - 8080:8080
  
  # lending-indexer:
  # lending-indexer:
  #   build: lending
  #   environment:
  #     - DATABASE_URL=postgres://admin:admin@postgres:5432/db
  #     - RPC_URL=ws://3.111.45.9:8546
  #   command: yarn run indexer

  # lending-api:
  # lending-api:
  #   build: lending
  #   environment:
  #     - DATABASE_URL=postgres://admin:admin@postgres:5432/db
  #     - RPC_URL=ws://3.111.45.9:8546
  #   command: yarn run api
  #   ports:
  #     - 8080:8080

volumes:
  db-data:
